*{
  cursor: none;
}
@font-face {
    font-family: Pilowlava;
    src: url("../public/Fonts/Pilowlava-Regular.otf");
  }

@font-face {
    font-family: ArchivGrotesk;
    src: url("../public/Fonts/ArchivGrotesk.otf");
  }
@font-face {
  font-family: Frakthion;
  src: url("../public/Fonts/PPFraktionMono-Regular.otf");
}
@font-face {
  font-family: CommitMono;
  src: url("../public/Fonts/COMMITMONO-400-REGULAR.OTF");
}

span {
    font-family: Pilowlava;
}
body {
    background-color: #121212;
    margin: auto;
    padding: 5cqh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
}
h1 {
    margin:auto;
    text-align: left;
    padding: 64px;
    font-size: 64px;
    font-family: Pilowlava;
}
p {
    margin:auto;
    text-align: left;
    padding: 64px;
    font-size: 32px;
    font-family: CommitMono;
}
#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#videoText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
  color: white;
  mix-blend-mode: difference;
}
.circle {
  position: fixed;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  top: -20px;
  left: -20px;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
}