* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
    font-family: HELVETICANOW;
    src: url("../public/fonts/HELVETICANOWDISPLAY-REGULAR.OTF");
  }
@font-face {
    font-family: ROSLINDALE;
    src: url("../public/fonts/ROSLINDALEVARIABLE-VFDISPLAY.TTF");
  }

@font-face {
  font-family: Frakthion;
  src: url("../public/Fonts/PPFraktionMono-Regular.otf");
}

.logo{
    max-width: 15vh;
}

body{
    font-family: HELVETICANOW;
    width:100%;
    /* height:500vh; */
    background: black;
    color: white;
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    margin: 0.25em 0;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.02em;
}

p{
    font-size: 24px;
    font-weight: 400;
    line-height: 175%;
}

nav{
    position:fixed;
    top:0;
    width:100vw;
    padding:2em 5em 2em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    mix-blend-mode: difference;
}

.links{
    display: flex;
    align-items: center;
    gap: 2em;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.875rem;
    z-index: 1000;
}

.logo a{
    font-size: 28px;
}

.lottie-container .animation{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -1;
}

.animation:after{
    content: "";
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
    width: 200%;
    height: 200%;   
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.1;
    animation: animateGrain 8s steps(10) infinite;
    z-index:1;
}

.gradient{
    width: 100vw;
    height: 183vh;
    position: relative;
    background: linear-gradient(
        180deg,
        rgba(9, 255, 0, 0) 0%,
        rgb(0, 0, 0) 100%
    );
    z-index: 1;
}

.title-container{
    position: fixed;
    width: 80%;
    height: 125vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    z-index: 1;
    padding:4em;
}

.fixed-text{
    font-size: 4.375rem;
    line-height: 0.9;
    text-align: left;
    color:white;
}
.lottie-end{
    position: absolute;
    top: 100vh;
    width: 100%;
    height:1px;
}


@keyframes animateGrain {
    0%, 100% {transform: translate(0, 0);}
    10% {transform: translate(-5%, -10%);}
    20% {transform: translate(-15%, -20%);}
    30% {transform: translate(-5%, -10%);}
    40% {transform: translate(-15%, -20%);}
    50% {transform: translate(-5%, -10%);}
    60% {transform: translate(-15%, -20%);}
    70% {transform: translate(-5%, -10%);}
    80% {transform: translate(-15%, -20%);}
    90% {transform: translate(-5%, -10%);}
    100% {transform: translate(-15%, -20%);}
}

.content{
    position: relative;
    width: 100%;
    height: 300vh;
    padding: 1em 3.85em;
    background: black;
    color: white;
    z-index: 1;
}


.para{
    font-size: 3rem;
    line-height: 125%;
    margin: 1em 0;

}
.element-on-focus{
    span{
        font-size: 3.5rem;
    }
    color: ivory;
    z-index:3;
    span{
        font-weight: 700;
        color: cyan; 
    }
}

.scroll{
    font-size: 2rem;
}

.workScroll{
	width:fit-content;
	display:flex;
	flex-wrap:nowrap;
}

.workScroll h2{
	font-size:30vw;
	flex-shrink:0;
	padding-right:0.3em;
	padding-left:0.3em;	
	margin:0;	
}