@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-murmure: murmure, "sans-serif";
  --font-alterBridge: var(--font-alterBridge);
  --font-sddystopian: var(--font-sddystopian);
  --font-helvetica: var(--font-helvetica);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: murmure;
  src: url("/fonts/LeMurmure-Regular.woff2");
}

@font-face {
  font-family: "alterBridge";
  src: url("/fonts/ALTER BRIDGE.TTF") format("ttf");
}

@font-face {
  font-family: "sddystopian";
  src: url("/fonts/Sddystopian.otf") format("opentype");
}

@font-face {
  font-family: "helvetica";
  src: url("/fonts/HELVETICANOW.OTF") format("opentype");
}
